IP=http://192.168.0.90:8989
API = cb6bb9aefxcxcxc43544a84234b
TG_BOT_TOKEN=7cxcxcxcxsXeauS_czKgKc
TG_CHAT_ID=65cxcx233487
# qbit max delay time for finding stalled and failed metadata download torrents
QBIT_TIME =43200
QBITIP=http://192.168.0.90:8080
QBITUSER = admin
QBITPASS= z6we4dj4
HOMEASSISTANTWEBHOOK=https://nt.bl/api/webhook/-tcdfdfdkf8HnZfisV



