IP=http://192.168.0.90:8989
API = 
TG_BOT_TOKEN=
TG_CHAT_ID=
# qbit max delay time for finding stalled and failed metadata download torrents
QBIT_TIME =43200
QBITIP=http://192.168.0.90:8080
QBITUSER = admin
QBITPASS= 
HOMEASSISTANTWEBHOOK=



